.online { background-color: palegreen; padding: 10px; border-radius: 5px; border: 1px solid green; }
.offline { background-color: mistyrose; padding: 10px; border-radius: 5px; border: 1px solid red; }
